<img class="hangman" src="/images/man<%= @remaining_guesses %>.png" alt="hangman">


<div class="guessing_space">
  <p class="secret"><%= @secret_word %></p>
</div>

<div class="alphabets">
  <% @alphabets.each do |letter| %>
    <% if @remaining_alphabets.include?(letter) %>
      <form class="letter" action="/game" method="post">
        <button name="letter_guess" type="submit" value="<%= letter %>"><%= letter %></button>
      </form>
    <% else %>
      <span class="letter">
        <%= letter %>
      </span>
    <% end  %>
  <% end  %>
</div>
